/*
 * Overrides CSS
 */
@import url(https://fonts.googleapis.com/css?family=Marck+Script);

@media(max-width: 767px) {
  .clr {
    clear: both;
  }
}
/*MIC overrides*/
.pull-right {
    margin-left: 3%;
}

.pull-left {
    margin-right: 3%;
}


/*Resp overrides*/
body.phone img.mobileTeamImg {
    display: block;
    margin: 15px 0;
    width: 60%;
}
body.desktop img.mobileTeamImg,
body.tablet img.mobileTeamImg {
    display: none;
}
body.desktop.itemid-111 .item-image,
body.tablet.itemid-111 .item-image {
    display: block;
}
body.phone.itemid-111 .item-image {
    display: none;
}

@media (min-width: 1280px) {
  
  .fullwidth {
      width: 100%;
      position: relative;
  }

  .innerwidth {
      width: 1180px;
      margin: 0 auto;
  }
}

a {
  transition: color 0.4s ease-in-out;
}
.corpColor,
.module_bottom a,
.item-page a {
    color: #12a425;
}
.corpColor2 {
  color: #88d386;
}

body.site .btn,
body.site button.ap-btn {
  color: #fff;
  text-shadow:none;
  background: rgb(145,220,133);
  background: -moz-linear-gradient(top,  rgba(145,220,133,1) 0%, rgba(18,164,37,1) 50%, rgba(145,220,133,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(145,220,133,1) 0%,rgba(18,164,37,1) 50%,rgba(145,220,133,1) 100%);
  background: linear-gradient(to bottom,  rgba(145,220,133,1) 0%,rgba(18,164,37,1) 50%,rgba(145,220,133,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91dc85', endColorstr='#91dc85',GradientType=0 );
  box-shadow: 0px 2px 20px -5px #16962d;
}
body.site button.ap-btn {
    transition: all .3s ease-in-out;
}
body.site [class^="icon-"], [class*=" icon-"] {
    background-image: none;
}
body.site .btn:hover,
body.site.btn:focus,
body.site button.ap-btn:hover,
body.site button.ap-btn:focus {
    color: #33873e;
    text-shadow: 1px 1px 0px #68bf11;

}

/*header*/
.clear-slider {
    position: relative;
}
@media(min-width: 1980px) {
  body.site .clear-slider {
      margin: 0 auto;
      width: 1980px;
  }
}

div#logoContainer {
    position: relative;
    background: transparent; 
    width: 100%; 
    margin: 0px 0 0 0 ;
    max-height: 170px;
}

.logoDesktop {
    margin: 10px 0px 15px 35px;
}

@media(min-width: 768px) {
  .flexbox {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
  }
  .margHeader {
    margin-left: 4%;
  }
}
.eibelIcon {
  margin-left: 1%;
}
@media(min-width: 768px) {
  .eibelIcon img {
    transform: translateY(20%);
  }
}
.ekBHof {
    position: absolute;
}
.ekBHof img {    
    max-width: 200px;
}
#logoHeader h2,
.page-header h1,
div[itemprop="articleBody"] h2,
h2[itemprop="name"],
div.blog h2,
div[itemprop="articleBody"] h3,
.moduletable h3 {
  font-family: 'Marck Script', cursive;
  color: #12a425;
}
body.site .moduletable h4 {
    font-size: 16px;
    text-align: left;
    color: #222;
}
h2[itemprop="name"] a,
div.blog h2 a {
  color: #12a425; 
}
.page-header {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
div[itemprop="articleBody"] h3 {
  font-size: 40px;
  margin: 0 0 30px;
}
body.itemid-138 div[itemprop="articleBody"] h3 {
  font-size: 28px;
  margin: 0 0 30px;
}
body.site ol.breadcrumb a {
    color: #1aa928;
}

/*team*/
.eibelTeam {
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
}
.eibelTeam figure {
    text-align: center;
}
body.site div.eibelTeam .teamDesc {
    position: absolute;
    text-align: center;
    background-color: #fff;
    color: #12a425;
}
main#content .eibelTeam .teamDesc h3 {
    font: bold 20px helvetica, sans-serif;
    margin: 5px 0 10px;
}
main#content .eibelTeam .teamDesc h4 {
    font-size: 14px;
    font-weight: normal;
    padding: 0px 0px 5px;
} 
main#content .eibelTeam .teamDesc p {
    font-size: 14px;
}
.eibelTeam figcaption {
    font-size: 16px;
    font-weight: bold;
    padding: 20px 0px 10px;
    text-align: center;
    margin-bottom: 0px;
    position: relative;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.eibelTeam figcaption> p {
    color: #12a425;
    margin-bottom: 0px;
}
.eibelTeam figcaption p:last-child {
    font-size: 14px;
    font-weight: normal;
    padding: 0px 0px 5px;
}
.eibelTeam figcaption p:last-child:after,
main#content .eibelTeam .teamDesc h4:after {
    content: "";
    width: 15%;
    display: block;
    margin: 5px auto 1%;
    border-bottom: 2px solid #d40823;
}

/*vcard*/
p.tel {
  font-size: 30px;
  margin: 40px 0px 35px;
}
p.adr {
    text-align: right;
    font-size: 22px;
}
div.custom p:last-child {
  margin-bottom: 0px;
}

/*article*/
div.item-page .page-header {
    border-bottom: none;
}
@media(min-width: 1281px) {
  div.item-page .pull-right.item-image {
      position: relative;
      bottom: 60px;
      margin-left: 50px;
  }
}
div.item-page p,
div.item-page ul li {
  font-size: 18px;
  line-height: 28px;
}
div.item-page ul li {
  background: url('/images/list-item.jpg') no-repeat left center;
  text-indent: 30px;
  list-style-type: none;
}
@media (min-width: 1280px) and (max-width: 2000px) {
  div#trenner {
      position: absolute;
      top: calc(1185px + 224 * ((100vw - 1980px) / 960));
      left: 0;
      display: block;
      width: 54%;
      height: 390px;
      background: #fbfbf7;
      z-index: -1;
      box-shadow: 0px 0px 30px 4px #d6d6d6;
      border: 1px solid #f3f3f3;
  }
}
main#content {
    margin-bottom: 30px;
}

/*bottom*/
@media(min-width: 768px) {
  .lazy-hidden {
      opacity: 0;
  }
  .lazy-hidden {
      background: #eee url('loading.gif') no-repeat 50% 50%;
  }
  .lazy-loaded {
      -webkit-transition: opacity 0.6s;
      -moz-transition: opacity 0.6s;
      -ms-transition: opacity 0.6s;
      -o-transition: opacity 0.6s;
      top: 0 !important;
      transition: opacity 0.6s, top 0.8s ease;
      opacity: 1;
  }
  .picHolder img {
      top: 200px;
      transform: scale(1,1);
      opacity: 1;
      transition: all .3s ease-in-out;
  }
  .picHolder:hover img {
      transform: scale(1.05,1.05);
      opacity: .95;
  }
  div.item-page ul {
    margin: 0 0 10px 0;
  }
}
.modContent {
    opacity: 0;
    transition: opacity 0.8s;
    -webkit-transition: opacity 0.8s;
    -moz-transition: opacity 0.8s;
    -ms-transition: opacity 0.8s;
    -o-transition: opacity 0.8s;
    transition: opacity 0.8s;
}
.modContent.fdIn {
    opacity: 1;
}
div.bottom .modContent p {
    color: #000;
    font-size: 16px;
    font-weight: normal;
}
@media(min-width: 768px){

  .bottom {
      height: 350px;
  }
  .bottom .row-fluid {
      height: 360px;
      position: relative;
      top: 0px;
      box-shadow: 5px 5px 30px #60a06c;    
  }
  .bottom {
      background-color: #88d386;
      top: 140px;
      position: relative;
      padding: 40px;
      margin: 0 auto;
  }
  .bottom .row-fluid {
      background-color: #f4f8f0;
  }
  .span4.module_bottom {
      position: relative;
      bottom: 200px;
      padding: 20px;
  }
}

.moduletable h3 {
  font-size: 30px;
  text-align: center;
  text-shadow: 3px 3px 10px #d4d4d4;
}
.picHolder {
    text-align: center;
}
.picHolder img {
    position: relative;
    z-index: 1;
}

@media(min-width: 1200px){
  .picHolder.shadow:after {
      content: ' ';
      position: absolute;
      width: 250px;
      height: 250px;
      top: 20px;
      left: 60px;
      background-color: transparent;
      z-index: 0;
      border-radius: 50%;
      box-shadow: 3px 5px 20px #8fa094;
  }
}
.bottom2 {
    position: relative;
    top: 70px;
    line-height: 30px;
    margin-bottom: 50px;
}
.bottom2 .adr,
.bottom2 h3 {
  text-align: left;
}
.bottom2 h3 {
  margin-bottom: 30px;
}
.bottom2 .org {
  font-size: 24px;
  margin-bottom: 30px;
}

/*footer*/
footer.footer {
    min-height: 50px;
    background-color: #f7f5f5;
    position: relative;
    top: 100px;
}
div#copyright {
    position: relative;
    top: 110px;
    margin-bottom: 30px;
    font-size: 12px;
}
body.Firefox div#copyright {
     margin-bottom: 130px; 
}
img.footerImg {
  max-width: 240px;
  position: relative;
  top: -50px !important;  
  box-shadow: 2px 3px 20px -3px #9e9e9e;
}


 /*Menue*/
div.navbar-inner ul.nav a {
  margin-right: 22px;
}
div.navbar-inner ul.nav li:last-child a {
  margin-right: 0px;
  padding-right: 0px;
}
div.navbar-inner ul.nav>.active a {
    color: #fff;
}
div.navbar-inner ul.nav>.active a,
div.navbar-inner ul.nav>.active a:focus,
div.navbar-inner ul.nav>.active a:hover {
    background-color: transparent;
    box-shadow: none;
}
div.navbar-inner ul.nav>.active a:focus,
div.navbar-inner ul.nav>.active a:hover {
    color: #71c17b;
}
div.navbar-inner ul.nav a:focus,
div.navbar-inner ul.nav a:hover {
    color: #fff;
}

div.navbar-inner ul.nav a {
    font-size: 24px;
    color: #33873e;
    text-shadow: none;
    padding: 12px 4px 10px;
}
ul.nav li {
    color: #33873e;
}
ul.nav {
    font-family: 'Marck Script', cursive;
}
.navbar .nav > li {
  display: inline-block;
}
.navbar .navbar-inner {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 5px 0;
    background-color: transparent;
    background-image: none;
}
nav.navbar-wrapper {
    margin: 0 auto;
    background-color: #91dc85;
}
.navbar {
    margin: 0 auto 30px;
    padding: 0;
    position: relative;
    z-index: 999;
}


 /* Activates hovering the main items to show the sub items */
@media (min-width: 980px) {
   .nav-pills > li > a,
   .dropdown-menu {
      margin: 0;
   }
 
   .nav-pills > li.dropdown:hover ul.dropdown-menu,
   .nav-tabs > li.dropdown:hover ul.dropdown-menu {
      display: block;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu {
      display: none;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu {
      display: block;
   }
}

/* Submenus below each other */
@media (max-width: 733px) {
   .dropdown,
   .dropdown-submenu {
      display: block;
      position: static;
      float: none;
   }
   .dropdown-menu {
      position: static;
      float: none;
   }
   .open .nav-child.dropdown-menu {
      display: block;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow:none;
   }
}



/*bootstrap Carousel*/

.item {
   max-width: 100%;
}

/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition: opacity 2.0s ease;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
/*!<-- end BS carousel

/*Kontakt-ribbon*/

.site_wrapper .right-edge.fork {
    border-radius: 0 5px 0 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    height: 40px;
    line-height: 40px;
    right: -5px;
    top: 25%;
    width: 140px;
}
.site_wrapper .ribbon-wrap {
    color: #FFFFFF;
    position: fixed;
    text-align: center;
    z-index: 11;
}

.site_wrapper .ribbon-wrap a {
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 8px;
    opacity: 1;
}

  .site_wrapper .ribbon-wrap a.typo {
      position: relative;
      right: 0px;
      text-shadow: 2px 4px 10px #313131;
      transition: all 0.3s ease-out;
  }

  a.env_open img {
      position: relative;
      bottom: 40px;
      right: -100px;
      padding: 0px 40px;
      transition: all 0.3s ease-out;
  }

  .site_wrapper .ribbon-wrap:hover a.env_open img {
      right: 0px;
  }

  .site_wrapper .ribbon-wrap:hover a.typo {
      right: -250px;
  }


.site_wrapper .lblue.right-edge:before {
    border-right-color: #174C66;
    border-top-color: #174C66;
}
.site_wrapper .right-edge.fork:before {
    background: none repeat scroll 0 0 #666666;
    bottom: 5px;
    box-shadow: -25px 8px 4px rgba(41, 41, 41, 0.5);
    height: 20px;
    left: 22px;
    transform: rotate(22deg) skew(-18deg, -28deg);
      -webkit-transform: rotate(22deg) skew(-18deg, -28deg);
    width: 80px;
    transition: all 0.4s ease-in-out;
}

.site_wrapper .right-edge.fork:after {
    background: none repeat scroll 0 0 #666666;
    box-shadow: -20px -5px 4px rgba(0, 0, 0, 0.5);
    height: 20px;
    left: 22px;
    top: 5px;
    transform: rotate(-32deg) skew(18deg, 28deg);
      -webkit-transform: rotate(-32deg) skew(18deg, 28deg);
    width: 80px;
    transition: all 0.4s ease-in-out;
}

.site_wrapper .ribbon-wrap:before, .site_wrapper .ribbon-wrap:after {
    content: "";
    position: absolute;
    z-index: -2;
}

.site_wrapper .lblue.right-edge.fork > span {
background: #9ffc53;

background: -moz-linear-gradient(left,  #9ffc53 0%, #12a425 100%);

background: -webkit-linear-gradient(left,  #9ffc53 0%,#12a425 100%);

background: linear-gradient(to right,  #9ffc53 0%,#12a425 100%);

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ffc53', endColorstr='#12a425',GradientType=1 );
}
.site_wrapper .right-edge.fork > span {
    border-radius: 0 5px 0 0;
}
.site_wrapper.ie8 .lblue, .site_wrapper .lblue > span, .site_wrapper .lblue.left-corner > span:before, .site_wrapper .lblue.left-corner > span:after, .site_wrapper .lblue.right-corner > span, .site_wrapper .lblue.right-corner > span:before, .site_wrapper .lblue.right-corner > span:after {
background: #9ffc53;

background: -moz-linear-gradient(left,  #9ffc53 0%, #12a425 100%);

background: -webkit-linear-gradient(left,  #9ffc53 0%,#12a425 100%);

background: linear-gradient(to right,  #9ffc53 0%,#12a425 100%);

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ffc53', endColorstr='#12a425',GradientType=1 );
}
  
  .site_wrapper .ribbon-wrap > span {
      display: block;
      height: 100%;
      position: relative;
  }


  .site_wrapper .lblue.right-edge.fork > span:before {
      border-right-color: #12a425;
      border-top-color: #12a425;
  }
  .site_wrapper .right-edge.fork > span:before {
      border-color: transparent;
      border-radius: 5px 5px 5px 5px;
      border-style: solid;
      border-width: 5px;
      bottom: -5px;
      right: 0;
      transform: rotate(45deg);
  }
  .site_wrapper .ribbon-wrap > span:before, .site_wrapper .ribbon-wrap > span:after {
      content: "";
      position: absolute;
      z-index: -1;
  }

  .site_wrapper .lblue.right-edge.fork > span:after {
      border-color: #9ffc53 #9ffc53 #9ffc53 transparent;
  }

  .site_wrapper .right-edge.fork > span:after {
      border-style: solid;
      border-width: 20px;
      left: -20px;
      top: 0;
  }


body#body.phone.itemid-160 main#content {
    padding: 0px 20px;
}
@media(max-width: 1366px) and (orientation: landscape) {
    body#body.site.mobile div#copyright:not(.imprLink) {
      font-size: 12px;
  }
}
/*cookie control*/
body#body #cookiesck .cookiesck_inner a,
a.cookieImp {
    color: #fff;
    text-decoration: underline;
    font-size: 16px;
}
  body#body #cookiesck_accept {
      background: #00690e;
      float: none;
      width: 100px;
      margin: 20px auto 0px !important;
      border: 1px solid #fff;
  }
body#body #cookiesck_readmore {
    margin: 1px 0px 1px 1px;
    color: #fff;
    float: none;
    text-decoration: underline;
    text-shadow: 0px 3px 5px #525252;
    padding: 10px 10px 10px 0px;
}
body#body #cookiesck {
    padding: 5px 10px 5px;
    font-size: 16px;
}
body#body #cookiesck .cookiesck_inner,
a.cookieImp {
    display: initial;
    line-height: 20px;
    text-shadow: 0px 3px 5px #525252;
}
body#body #cookiesck_accept:hover {
    font-size: initial;
    background: #fff;
    color: #12a425;
    border-color: #12a425;
}
@media(max-width: 1280px) {
  body#body.site div#cookiesck span {
      font-size: 14px !important;
  }
  body#body.site #cookiesck_readmore {
      padding: 10px 10px 10px 0 !important;
  }
  body#body.site #cookiesck_accept {
      float: none !important;
      margin: 10px auto !important;
  }
  body#body.site #cookiesck {
      text-align: left !important;
      line-height: 25px !important;
  }
}
@media(max-width: 1279px) and (orientation: portrait) {
/*  body.mobile #cookiesck {
      bottom: 20vh;
  }*/
}