/*
 * Responsive CSS 089-Webdesign
 */

@media(max-width: 321px) {
	body.site.phone.itemid-111 h1 {
	    font-size: 20px !important;
	}
	body.site.phone.itemid-111 h2 {
	    font-size: 18px !important;
	}	
}

@media(width: 480px) {
	
}

@media(width: 600px) and (orientation: portrait) {

	body.site .eibelIcon {
	    position: absolute;
	    top: 30px;
	    right: 50px;
	    width: 80px;
	}	
	body.site div.site_wrapper .ekBHof {
	    top: 120px;
	    position: relative;
	    z-index: 2;
	}
	body.site div#logoContainer {
		max-height: 280px;
	}
	body.site div.site_wrapper .vcard {
	    text-align: left;
	}
	body.site p.adr {
	    text-align: left;
	    font-size: 22px;
	}
}

@media(width: 736px) and (orientation: landscape) {
	body.site div.vcard p.tel,
	body.site div.vcard p.adr {
	    font-size: 24px;
	}
}

@media(width: 768px) and (orientation: portrait){
	body.site #logoContainer p.tel {
	    margin: 20px 0px 10px;
	}
	body.site.itemid-111 .item-page h2 {
		font-size: 28px;
	}
}

@media(width: 800px) {
	
}

@media(width: 1024px) {
	
}
@media only screen and (min-width: 768px) and (max-width: 1280px) and (orientation: portrait) {
	body.site.itemid-111 #content .pull-right.item-image {
	    max-width: 40%;
	    padding-top: 130px;
	}
}
@media(max-width: 1280px) and (orientation: landscape) {
	.navbar .nav,
	#copyright p {
	    padding-left: 10px;
	}
}
@media(max-width: 360px) {
	body.site.phone div.clear-slider p.tel,
	body.site.phone div.clear-slider p.adr {
	    font-size: 14px;
	}
	body.site div.site_wrapper main#content div.item-page ul li {
	    font-size: 13px !important;
	}
}
@media(width: 414px) {
	body.site.phone.itemid-111 h1 {
	    white-space: nowrap;
	}
}
@media(max-width: 414px) {
	
	body.itemid-111 .item-image {
		padding-top: 130px;
	}
	body.site .pull-right.item-image,
	body.site .item-image {
	    max-width: 50%;
	}	
}

@media(min-width: 415px) and (max-width: 1280px) {
	body.site.tablet.itemid-111 .pull-right.item-image {
	    max-width: 30%;
	}
	body.site .pull-right.item-image {
	    max-width: 25%;
	}
	body.site.itemid-161 .pull-right.item-image {
	    max-width: 50%;
	}
}


@media(max-width: 767px) and (orientation: portrait) {
	body.site img.logoDesktop {
	    width: 80%;
	}
}

@media(max-width: 767px) and (orientation: portrait) {
	body.site.phone img.mobileTeamImg {
	    width: 100%;
	}
	body.site div.item-page ul li:nth-child(2) {
	    background: url('/images/list-item.jpg') no-repeat left 20%;
	}
}

@media(max-width: 767px) {
	body.site.itemid-142 div[itemprop="articleBody"] img,
	body.site.itemid-111 div[itemprop="articleBody"] img {
	    max-width: initial;
	}
	body.site div[itemprop="articleBody"] img {
	    max-width: 50%;
	}
	body.site #logoContainer .logoDesktop {
	    margin-left: 0px;
	}
	body.site div.item-page ul li {
	    background: url(/images/list-item.jpg) no-repeat left 7px;
	}

	body.site .site_wrapper .ribbon-wrap {
		display: none;
	}

	body.site main#content div.eibelTeam .teamDesc {
		position: relative;
	    width: 320px;
	    opacity: 1;
	    margin: 0 auto 50px;
	}
	body.site main#content div.eibelTeam figcaption {
		display: none;
	}
	body.site main#content .eibelTeam .teamDesc p {
	    padding: 0px 15px;
	}

	body.site ul.qualiList li {
	    padding-left: 20px;
	    text-indent: 0px;
	}
	body.site div#copyright:not(.imprLink) {
	    font-size: 10px;
	    line-height: 18px;
	    top: 130px;
	}
	body.site img.footerImg {
	    max-width: 160px;
	    top: -30px !important;
	}
	body.site .bottom2 iframe {
		width: 100%;
		height: 230px;
		margin: 0 auto;
	}	
	body.site .bottom2 p.adr,
	body.site .bottom2 .org {
	    font-size: 16px !important;
	    line-height: 21px;
	    margin-bottom: 10px;
	}
	body.site .bottom2 p {
	    text-align: left;
	}
	body.site .moduletable h3 {
	    text-align: left;
	    margin-bottom: 10px;
	}
	body.phone .module_bottom .custom {
	    display: flex;
	}
	body.phone .module_bottom.position_bottom7 .custom {
	    display: block;
	}	
	body.site.phone div.site_wrapper .picHolder img {
	    max-width: 85%;
	    float: left;
	    padding: 0px 0px 5px 0px;
	}	
/*	body.site div.site_wrapper .picHolder img {
	    max-width: 25%;
	    float: left;
	    padding: 0px 10px 5px 0px;
	}*/
	body.site .eibelIcon {
	    margin: 0 auto;
	}
	body.site div.clear-slider p.tel,
	body.site div.clear-slider p.adr {
		font-size: 18px;
		line-height: 25px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	body.site .innerwidth,
	body.site .clear-slider,
	body.site .item-page,
	body.site .bottom2,
	body.site .blog {
	    padding-right: 10px;
	    padding-left: 15px;
	}
	body.site {
	    padding-right: 0px;
	    padding-left: 0px;
	}
	body.site .ekBHof img {
	    max-width: 120px;
	    box-shadow: 1px 1px 5px #a5a5a5;
	    position: relative;
	    bottom: 50px;
	    left: 2px;
	}
	body.site h1 {
		font-size: calc(38.5px + 36 * (100vw - 767px) / 1024);
		margin: 5px 0px;
		line-height: 30px;
	}
	body.site h2 {
		font-size: calc(31.5px + 32 * (100vw - 767px) / 1024);
		line-height: 30px;
		margin: 5px 0px;
	}
	body.site div[itemprop="articleBody"] h3 {
	    font-size: calc(40px + 32 * (100vw - 767px) / 1024);
	}
	body.site .site_wrapper div.item-page p {
	    line-height: 28.8px;
	}
	body.site .site_wrapper div.item-page p,
	body.site .site_wrapper main#content div.item-page ul li {
	    font-size: 16px;
	}
	body.site .vcard {
	    text-align: right;
	    margin-right: 10px;
	}
	body.site div#logoContainer,
	body.site .ekBHof {
    	position: initial;
	}
	body.site .ekBHof {
		max-height: 15px;
	}
	body.site div#logoContainer {
    	display: flex;
	}
}

@media(min-width: 768px) {
	.ekBHof {
		bottom: 0px;
	}
	body.site .carousel {
	    margin-bottom: 0px;
	    z-index: -1;
	}
/*bootstrap carousel fade options*/
	body.site .carousel-fade .carousel-inner .item {
	  -webkit-transition-property: opacity;
	  transition-property: opacity;
	}
	body.site.carousel-fade .carousel-inner .item,
	body.site .carousel-fade .carousel-inner .active.left,
	body.site .carousel-fade .carousel-inner .active.right {
	  opacity: 0;
	}
	body.site .carousel-fade .carousel-inner .active,
	body.site .carousel-fade .carousel-inner .next.left,
	body.site .carousel-fade .carousel-inner .prev.right {
	  opacity: 1;
	}
	body.site .carousel-fade .carousel-inner .next,
	body.site .carousel-fade .carousel-inner .prev,
	body.site .carousel-fade .carousel-inner .active.left,
	body.site .carousel-fade .carousel-inner .active.right {
	  left: 0;
	  -webkit-transform: translate3d(0, 0, 0);
	          transform: translate3d(0, 0, 0);
	}
	body.site .carousel-fade .carousel-control {
	  z-index: 2;
	}
/*<-- END bootstrap carousel fade options -- */
}

@media(min-width: 768px) and (max-width: 979px) {
	body.site .span4.module_bottom {
	    bottom: 150px;
	}
}

@media(min-width: 768px) and (max-width: 1024px) {
	body.site #copyright {
		padding-left: 15px;
	}
	body.site p.tel,
	body.site p.adr {
		font-size: 16px;
		white-space: nowrap;
	}
	body.site #logoHeader h2 {
		font-size: 22px;
		white-space: nowrap;
	}
	body.site .ekBHof {
		left: 5px;
	}
	body.site .ekBHof img {
		max-width: 120px;
		box-shadow: none;
	}
	#logoHeader h2 {
	    transform: translateY(40px);
	}
	body.site .navbar .btn-navbar {
    	margin-right: 20px;
	}
	body.site .bottom2 {
	    top: 110px;
	}
}

@media(min-width: 768px) and (max-width: 1279px) {
	body.site .eibelIcon {
		margin-right: 1%;
	}

}

@media(min-width: 1024px) and (max-width: 1279px) {
	body.site div.navbar-inner ul.nav a {
	    font-size: calc(24px + 20 * (100vw - 1279px) /1024);
	}

}

@media(min-width: 1024px) and (max-width: 1480px) {

	body.site #logoHeader h2,
	body.site p.tel,
	body.site p.adr {
		font-size: 24px;
		line-height: 22px;
		white-space: nowrap;
	} 
}

@media(max-width: 979px) {
	body.site .navbar .nav > li {
	    display: block;
	    padding: 10px 0px 0px;
	}
	body.site .nav-collapse .nav {
	    margin: 10px 10px;
	    background: #ace0a4;
	}
	body.site div.bottom .modContent p {
	    font-size: 14px;
	}
}

@media(max-width: 1023px) {

	body.site div.navbar-inner ul.nav a {
	    font-size: 21px;
	}
}

@media(max-width: 1024px) {

	body.site .pull-right {
	    margin-bottom: 3%;
	}

	body.site img.footerImg {
	    max-width: 150px;
	    top: -20px !important;
	}

	body.site .picHolder img {
	    max-width: 75%;
	}
	
	body.site .navbar .navbar-inner {
	    padding: 5px 0;
	}
	body.site div.item-page p,
	body.site div.item-page ul li {
	    font-size: 18px;
	    line-height: 26px;
	}
	body.site p.tel {
	  margin: 25px 0px;
	}
	body.site .logoDesktop {
	    margin: 5px 0px 5px 5px;
	}
	body.site .span4.module_bottom {
	    padding: 10px;
	}
	body.site .moduletable h3 {
	    font-size: 20px;
	}
}

@media(min-width: 1025px) {

	.ekBHof img	{
		box-shadow: 4px 4px 5px #545454;
	}
/*	#logoHeader h2 {
	  font-size: calc(28px + 12 * ((100vw - 768px) / 1280 ));
	}*/
	body.site main#content {
	    margin-bottom: 50px;
	}	
	#logoHeader h2 {
	  transform: translateY(90px);
	}
	div#copyright {
	    padding-left: 5px;
	}
}

@media(min-width: 1025px) and (max-width: 1280px) {	
	body.site .ekBHof img {
		max-width: 150px;
		box-shadow: none;
	}
}

@media(max-width: 1200px) {
	.eibelTeam img {
	    transform: scale(1,1);
	    opacity: .9;
	}
	body.site div.eibelTeam .teamDesc {
	    width: inherit;
	    opacity: 0.8;
	    bottom: 17%;
	}
	body.site div.eibelTeam figcaption {
		visibility: hidden;
	}
	main#content .eibelTeam .teamDesc p {
	    font-size: 14px;
		padding: 0px 5px;
	}
}

@media(min-width: 1200px) {

	.eibelTeam img {
	    transform: scale(1,1);
	    opacity: 1;
	    transition:
	      transform 0.4s ease-in-out,
	      opacity 0.6s ease-in-out;
	}
	body.site div.eibelTeam .teamDesc {
	    max-width: 335px;
	    transform: translateX(5%);
	    opacity: 0;
	    bottom: -17%;
	    transition:
	      opacity 0.6s ease-in, 
	      bottom 0.4s ease-in;
	}
	.eibelTeam div.span4:hover figcaption {
	    opacity: 0;
	    transition: opacity 0.2s ease-in-out;
	}
	.eibelTeam div.span4:hover .teamDesc {
	    bottom: 10%;
	    opacity: 1;
	    transition:
	      opacity 0.2s ease-in-out, 
	      bottom 0.3s ease-in-out;
	}
	.eibelTeam div.span4:hover img,
	main#content .eibelTeam .teamDesc:hover img {
	    transform: scale(1.1,1.1);
	    opacity: .6;    
	}
	main#content .eibelTeam .teamDesc p {
	    font-size: 14px;
	    padding: 0px 30px;
	}
}

@media(min-width: 1280px) and (max-width: 1599px) {
	.ekBHof {
	    bottom: 15px;
	    left: 20%;
	}
}

@media(min-width: 1600px) and (max-width: 1799px) {
	.ekBHof {
	    bottom: 35px;
	    left: 20%;
	}
}

@media(min-width: 1800px) {
	.ekBHof {
	    bottom: 65px;
	    left: 15%;
	}

	body.site .ekBHof img {
	    max-width: 240px;
	}
	body.site #logoHeader h2 {
	  font-size: 48px;
	}
}

 /*Template Standard*/

 /* @media (min-width: 768px) and (max-width: 979px) {
	.hidden-desktop {
		display: inherit !important;
	}
	.visible-desktop {
		display: none !important;
	}
	.visible-tablet {
		display: inherit !important;
	}
	.hidden-tablet {
		display: none !important;
	}
}
@media (max-width: 767px) {
	.hidden-desktop {
		display: inherit !important;
	}
	.visible-desktop {
		display: none !important;
	}
	.visible-phone {
		display: inherit !important;
	}
	.hidden-phone {
		display: none !important;
	}
}

@media (max-width: 767px) {
	body {
		padding-left: 20px;
		padding-right: 20px;
	}
	.navbar-fixed-top,
	.navbar-fixed-bottom,
	.navbar-static-top {
		margin-left: -20px;
		margin-right: -20px;
	}
	.container-fluid {
		padding: 0;
	}
	.dl-horizontal dt {
		float: none;
		clear: none;
		width: auto;
		text-align: left;
	}
	.dl-horizontal dd {
		margin-left: 0;
	}
	.container {
		width: auto;
	}
	.row-fluid {
		width: 100%;
	}
	.row,
	.thumbnails {
		margin-left: 0;
	}
	.thumbnails > li {
		float: none;
		margin-left: 0;
	}
	[class*="span"],
	.uneditable-input[class*="span"],
	.row-fluid [class*="span"] {
		float: none;
		display: block;
		width: 100%;
		margin-left: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.span12,
	.row-fluid .span12 {
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.row-fluid [class*="offset"]:first-child {
		margin-left: 0;
	}
	.input-large,
	.input-xlarge,
	.input-xxlarge,
	input[class*="span"],
	select[class*="span"],
	textarea[class*="span"],
	.uneditable-input {
		display: block;
		width: 100%;
		min-height: 28px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.input-prepend input,
	.input-append input,
	.input-prepend input[class*="span"],
	.input-append input[class*="span"] {
		display: inline-block;
		width: auto;
	}
	.controls-row [class*="span"] + [class*="span"] {
		margin-left: 0;
	}
}
@media (max-width: 480px) {
	.nav-collapse {
		-webkit-transform: translate3d(0,0,0);
	}
	.page-header h1 small {
		display: block;
		line-height: 18px;
	}
	input[type="checkbox"],
	input[type="radio"] {
		border: 1px solid #ccc;
	}
	.form-horizontal .control-label {
		float: none;
		width: auto;
		padding-top: 0;
		text-align: left;
	}
	.form-horizontal .controls {
		margin-left: 0;
	}
	.form-horizontal .control-list {
		padding-top: 0;
	}
	.form-horizontal .form-actions {
		padding-left: 10px;
		padding-right: 10px;
	}
	.media .pull-left,
	.media .pull-right {
		float: none;
		display: block;
		margin-bottom: 10px;
	}
	.media-object {
		margin-right: 0;
		margin-left: 0;
	}
	.modal-header .close {
		padding: 10px;
		margin: -10px;
	}
	.carousel-caption {
		position: static;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.row {
		margin-left: -20px;
		*zoom: 1;
	}
	.row:before,
	.row:after {
		display: table;
		content: "";
		line-height: 0;
	}
	.row:after {
		clear: both;
	}
	[class*="span"] {
		float: left;
		min-height: 1px;
		margin-left: 20px;
	}
	.container,
	.navbar-static-top .container,
	.navbar-fixed-top .container,
	.navbar-fixed-bottom .container {
		width: 724px;
	}
	.span12 {
		width: 724px;
	}
	.span11 {
		width: 662px;
	}
	.span10 {
		width: 600px;
	}
	.span9 {
		width: 538px;
	}
	.span8 {
		width: 476px;
	}
	.span7 {
		width: 414px;
	}
	.span6 {
		width: 352px;
	}
	.span5 {
		width: 290px;
	}
	.span4 {
		width: 228px;
	}
	.span3 {
		width: 166px;
	}
	.span2 {
		width: 104px;
	}
	.span1 {
		width: 42px;
	}
	.offset12 {
		margin-left: 764px;
	}
	.offset11 {
		margin-left: 702px;
	}
	.offset10 {
		margin-left: 640px;
	}
	.offset9 {
		margin-left: 578px;
	}
	.offset8 {
		margin-left: 516px;
	}
	.offset7 {
		margin-left: 454px;
	}
	.offset6 {
		margin-left: 392px;
	}
	.offset5 {
		margin-left: 330px;
	}
	.offset4 {
		margin-left: 268px;
	}
	.offset3 {
		margin-left: 206px;
	}
	.offset2 {
		margin-left: 144px;
	}
	.offset1 {
		margin-left: 82px;
	}
	.row-fluid {
		width: 100%;
		*zoom: 1;
	}
	.row-fluid:before,
	.row-fluid:after {
		display: table;
		content: "";
		line-height: 0;
	}
	.row-fluid:after {
		clear: both;
	}
	.row-fluid [class*="span"] {
		display: block;
		width: 100%;
		min-height: 28px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 2.127659574%;
	}
	.row-fluid [class*="span"]:first-child {
		margin-left: 0;
	}
	.row-fluid .controls-row [class*="span"] + [class*="span"] {
		margin-left: 2.127659574%;
	}
	.row-fluid .span12 {
		width: 99.99999999%;
	}
	.row-fluid .span11 {
		width: 91.489361693%;
	}
	.row-fluid .span10 {
		width: 82.978723396%;
	}
	.row-fluid .span9 {
		width: 74.468085099%;
	}
	.row-fluid .span8 {
		width: 65.957446802%;
	}
	.row-fluid .span7 {
		width: 57.446808505%;
	}
	.row-fluid .span6 {
		width: 48.936170208%;
	}
	.row-fluid .span5 {
		width: 40.425531911%;
	}
	.row-fluid .span4 {
		width: 31.914893614%;
	}
	.row-fluid .span3 {
		width: 23.404255317%;
	}
	.row-fluid .span2 {
		width: 14.89361702%;
	}
	.row-fluid .span1 {
		width: 6.382978723%;
	}
	.row-fluid .offset12 {
		margin-left: 104.255319138%;
	}
	.row-fluid .offset12:first-child {
		margin-left: 102.127659564%;
	}
	.row-fluid .offset11 {
		margin-left: 95.744680841%;
	}
	.row-fluid .offset11:first-child {
		margin-left: 93.617021267%;
	}
	.row-fluid .offset10 {
		margin-left: 87.234042544%;
	}
	.row-fluid .offset10:first-child {
		margin-left: 85.10638297%;
	}
	.row-fluid .offset9 {
		margin-left: 78.723404247%;
	}
	.row-fluid .offset9:first-child {
		margin-left: 76.595744673%;
	}
	.row-fluid .offset8 {
		margin-left: 70.21276595%;
	}
	.row-fluid .offset8:first-child {
		margin-left: 68.085106376%;
	}
	.row-fluid .offset7 {
		margin-left: 61.702127653%;
	}
	.row-fluid .offset7:first-child {
		margin-left: 59.574468079%;
	}
	.row-fluid .offset6 {
		margin-left: 53.191489356%;
	}
	.row-fluid .offset6:first-child {
		margin-left: 51.063829782%;
	}
	.row-fluid .offset5 {
		margin-left: 44.680851059%;
	}
	.row-fluid .offset5:first-child {
		margin-left: 42.553191485%;
	}
	.row-fluid .offset4 {
		margin-left: 36.170212762%;
	}
	.row-fluid .offset4:first-child {
		margin-left: 34.042553188%;
	}
	.row-fluid .offset3 {
		margin-left: 27.659574465%;
	}
	.row-fluid .offset3:first-child {
		margin-left: 25.531914891%;
	}
	.row-fluid .offset2 {
		margin-left: 19.148936168%;
	}
	.row-fluid .offset2:first-child {
		margin-left: 17.021276594%;
	}
	.row-fluid .offset1 {
		margin-left: 10.638297871%;
	}
	.row-fluid .offset1:first-child {
		margin-left: 8.510638297%;
	}
	input,
	textarea,
	.uneditable-input {
		margin-left: 0;
	}
	.controls-row [class*="span"] + [class*="span"] {
		margin-left: 20px;
	}
	input.span12,
	textarea.span12,
	.uneditable-input.span12 {
		width: 710px;
	}
	input.span11,
	textarea.span11,
	.uneditable-input.span11 {
		width: 648px;
	}
	input.span10,
	textarea.span10,
	.uneditable-input.span10 {
		width: 586px;
	}
	input.span9,
	textarea.span9,
	.uneditable-input.span9 {
		width: 524px;
	}
	input.span8,
	textarea.span8,
	.uneditable-input.span8 {
		width: 462px;
	}
	input.span7,
	textarea.span7,
	.uneditable-input.span7 {
		width: 400px;
	}
	input.span6,
	textarea.span6,
	.uneditable-input.span6 {
		width: 338px;
	}
	input.span5,
	textarea.span5,
	.uneditable-input.span5 {
		width: 276px;
	}
	input.span4,
	textarea.span4,
	.uneditable-input.span4 {
		width: 214px;
	}
	input.span3,
	textarea.span3,
	.uneditable-input.span3 {
		width: 152px;
	}
	input.span2,
	textarea.span2,
	.uneditable-input.span2 {
		width: 90px;
	}
	input.span1,
	textarea.span1,
	.uneditable-input.span1 {
		width: 28px;
	}
}
@media (min-width: 1200px) {
	.row {
		margin-left: -20px;
		*zoom: 1;
	}
	.row:before,
	.row:after {
		display: table;
		content: "";
		line-height: 0;
	}
	.row:after {
		clear: both;
	}
	[class*="span"] {
		float: left;
		min-height: 1px;
		margin-left: 20px;
	}
	.container,
	.navbar-static-top .container,
	.navbar-fixed-top .container,
	.navbar-fixed-bottom .container {
		width: 940px;
	}
	.span12 {
		width: 940px;
	}
	.span11 {
		width: 860px;
	}
	.span10 {
		width: 780px;
	}
	.span9 {
		width: 700px;
	}
	.span8 {
		width: 620px;
	}
	.span7 {
		width: 540px;
	}
	.span6 {
		width: 460px;
	}
	.span5 {
		width: 380px;
	}
	.span4 {
		width: 300px;
	}
	.span3 {
		width: 220px;
	}
	.span2 {
		width: 140px;
	}
	.span1 {
		width: 60px;
	}
	.offset12 {
		margin-left: 980px;
	}
	.offset11 {
		margin-left: 900px;
	}
	.offset10 {
		margin-left: 820px;
	}
	.offset9 {
		margin-left: 740px;
	}
	.offset8 {
		margin-left: 660px;
	}
	.offset7 {
		margin-left: 580px;
	}
	.offset6 {
		margin-left: 500px;
	}
	.offset5 {
		margin-left: 420px;
	}
	.offset4 {
		margin-left: 340px;
	}
	.offset3 {
		margin-left: 260px;
	}
	.offset2 {
		margin-left: 180px;
	}
	.offset1 {
		margin-left: 100px;
	}
	.row-fluid {
		width: 100%;
		*zoom: 1;
	}
	.row-fluid:before,
	.row-fluid:after {
		display: table;
		content: "";
		line-height: 0;
	}
	.row-fluid:after {
		clear: both;
	}
	.row-fluid [class*="span"] {
		display: block;
		width: 100%;
		min-height: 28px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 2.127659574%;
		*margin-left: 2.0744680846383%;
	}
	.row-fluid [class*="span"]:first-child {
		margin-left: 0;
	}
	.row-fluid .controls-row [class*="span"] + [class*="span"] {
		margin-left: 2.127659574%;
	}
	.row-fluid .span12 {
		width: 99.99999999%;
	}
	.row-fluid .span11 {
		width: 91.489361693%;
	}
	.row-fluid .span10 {
		width: 82.978723396%;
	}
	.row-fluid .span9 {
		width: 74.468085099%;
	}
	.row-fluid .span8 {
		width: 65.957446802%;
	}
	.row-fluid .span7 {
		width: 57.446808505%;
		*width: 57.393617015638%;
	}
	.row-fluid .span6 {
		width: 48.936170208%;
		*width: 48.882978718638%;
	}
	.row-fluid .span5 {
		width: 40.425531911%;
	}
	.row-fluid .span4 {
		width: 31.914893614%;
	}
	.row-fluid .span3 {
		width: 23.404255317%;
	}
	.row-fluid .span2 {
		width: 14.89361702%;
	}
	.row-fluid .span1 {
		width: 6.382978723%;
	}
	.row-fluid .offset12 {
		margin-left: 104.255319138%;
	}
	.row-fluid .offset12:first-child {
		margin-left: 102.127659564%;
	}
	.row-fluid .offset11 {
		margin-left: 95.744680841%;
	}
	.row-fluid .offset11:first-child {
		margin-left: 93.617021267%;
	}
	.row-fluid .offset10 {
		margin-left: 87.234042544%;
	}
	.row-fluid .offset10:first-child {
		margin-left: 85.10638297%;
	}
	.row-fluid .offset9 {
		margin-left: 78.723404247%;
	}
	.row-fluid .offset9:first-child {
		margin-left: 76.595744673%;
	}
	.row-fluid .offset8 {
		margin-left: 70.21276595%;
	}
	.row-fluid .offset8:first-child {
		margin-left: 68.085106376%;
	}
	.row-fluid .offset7 {
		margin-left: 61.702127653%;
	}
	.row-fluid .offset7:first-child {
		margin-left: 59.574468079%;
	}
	.row-fluid .offset6 {
		margin-left: 53.191489356%;
	}
	.row-fluid .offset6:first-child {
		margin-left: 51.063829782%;
	}
	.row-fluid .offset5 {
		margin-left: 44.680851059%;
	}
	.row-fluid .offset5:first-child {
		margin-left: 42.553191485%;
	}
	.row-fluid .offset4 {
		margin-left: 36.170212762%;
	}
	.row-fluid .offset4:first-child {
		margin-left: 34.042553188%;
	}
	.row-fluid .offset3 {
		margin-left: 27.659574465%;
	}
	.row-fluid .offset3:first-child {
		margin-left: 25.531914891%;
	}
	.row-fluid .offset2 {
		margin-left: 19.148936168%;
	}
	.row-fluid .offset2:first-child {
		margin-left: 17.021276594%;
	}
	.row-fluid .offset1 {
		margin-left: 10.638297871%;
	}
	.row-fluid .offset1:first-child {
		margin-left: 8.510638297%;
	}
	input,
	textarea,
	.uneditable-input {
		margin-left: 0;
	}
	.controls-row [class*="span"] + [class*="span"] {
		margin-left: 20px;
	}
	input.span12,
	textarea.span12,
	.uneditable-input.span12 {
		width: 926px;
	}
	input.span11,
	textarea.span11,
	.uneditable-input.span11 {
		width: 846px;
	}
	input.span10,
	textarea.span10,
	.uneditable-input.span10 {
		width: 766px;
	}
	input.span9,
	textarea.span9,
	.uneditable-input.span9 {
		width: 686px;
	}
	input.span8,
	textarea.span8,
	.uneditable-input.span8 {
		width: 606px;
	}
	input.span7,
	textarea.span7,
	.uneditable-input.span7 {
		width: 526px;
	}
	input.span6,
	textarea.span6,
	.uneditable-input.span6 {
		width: 446px;
	}
	input.span5,
	textarea.span5,
	.uneditable-input.span5 {
		width: 366px;
	}
	input.span4,
	textarea.span4,
	.uneditable-input.span4 {
		width: 286px;
	}
	input.span3,
	textarea.span3,
	.uneditable-input.span3 {
		width: 206px;
	}
	input.span2,
	textarea.span2,
	.uneditable-input.span2 {
		width: 126px;
	}
	input.span1,
	textarea.span1,
	.uneditable-input.span1 {
		width: 46px;
	}
	.thumbnails {
		margin-left: -20px;
	}
	.thumbnails > li {
		margin-left: 20px;
	}
	.row-fluid .thumbnails {
		margin-left: 0;
	}
}
@media (max-width: 979px) {
	body {
		padding-top: 0;
	}
	.navbar-fixed-top,
	.navbar-fixed-bottom {
		position: static;
	}
	.navbar-fixed-top {
		margin-bottom: 18px;
	}
	.navbar-fixed-bottom {
		margin-top: 18px;
	}
	.navbar-fixed-top .navbar-inner,
	.navbar-fixed-bottom .navbar-inner {
		padding: 5px;
	}
	.navbar .container {
		width: auto;
		padding: 0;
	}
	.navbar .brand {
		padding-left: 10px;
		padding-right: 10px;
		margin: 0 0 0 -5px;
	}
	.nav-collapse {
		clear: both;
	}
	.nav-collapse .nav {
		float: none;
		margin: 0 0 9px;
	}
	.nav-collapse .nav > li {
		float: none;
	}
	.nav-collapse .nav > li > a {
		margin-bottom: 2px;
	}
	.nav-collapse .nav > .divider-vertical {
		display: none;
	}
	.nav-collapse .nav .nav-header {
		color: #fff;
		text-shadow: none;
	}
	.nav-collapse .nav > li > a,
	.nav-collapse .dropdown-menu a {
		padding: 9px 15px;
		font-weight: bold;
		color: #fff;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	.nav-collapse .btn {
		padding: 4px 10px 4px;
		font-weight: normal;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	.nav-collapse .dropdown-menu li + li a {
		margin-bottom: 2px;
	}
	.nav-collapse .nav > li > a:hover,
	.nav-collapse .nav > li > a:focus,
	.nav-collapse .dropdown-menu a:hover,
	.nav-collapse .dropdown-menu a:focus {
		background-color: #007ab8;
	}
	.navbar-inverse .nav-collapse .nav > li > a,
	.navbar-inverse .nav-collapse .dropdown-menu a {
		color: #999;
	}
	.navbar-inverse .nav-collapse .nav > li > a:hover,
	.navbar-inverse .nav-collapse .nav > li > a:focus,
	.navbar-inverse .nav-collapse .dropdown-menu a:hover,
	.navbar-inverse .nav-collapse .dropdown-menu a:focus {
		background-color: #111111;
	}
	.nav-collapse.in .btn-group {
		margin-top: 5px;
		padding: 0;
	}
	.nav-collapse .dropdown-menu {
		position: static;
		top: auto;
		left: auto;
		float: none;
		display: none;
		max-width: none;
		margin: 0 15px;
		padding: 0;
		background-color: transparent;
		border: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.nav-collapse .open > .dropdown-menu {
		display: block;
	}
	.nav-collapse .dropdown-menu:before,
	.nav-collapse .dropdown-menu:after {
		display: none;
	}
	.nav-collapse .dropdown-menu .divider {
		display: none;
	}
	.nav-collapse .nav > li > .dropdown-menu:before,
	.nav-collapse .nav > li > .dropdown-menu:after {
		display: none;
	}
	.nav-collapse .navbar-form,
	.nav-collapse .navbar-search {
		float: none;
		padding: 9px 15px;
		margin: 9px 0;
		border-top: 1px solid #007ab8;
		border-bottom: 1px solid #007ab8;
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
		box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
	}
	.navbar-inverse .nav-collapse .navbar-form,
	.navbar-inverse .nav-collapse .navbar-search {
		border-top-color: #111111;
		border-bottom-color: #111111;
	}
	.navbar .nav-collapse .nav.pull-right {
		float: none;
		margin-left: 0;
	}
	.nav-collapse,
	.nav-collapse.collapse {
		overflow: hidden;
		height: 0;
	}
	.navbar .btn-navbar {
		display: block;
	}
	.navbar-static .navbar-inner {
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media (min-width: 980px) {
	.nav-collapse.collapse {
		height: auto !important;
		overflow: visible !important;
	}
}

@media (max-width: 767px) {
	div.modal {
		position: fixed;
		top: 20px;
		left: 20px;
		right: 20px;
		width: auto;
		margin: 0;
	}
	div.modal.fade {
		top: -100px;
	}
	div.modal.fade.in {
		top: 20px;
	}
}
@media (max-width: 480px) {
	div.modal {
		top: 10px;
		left: 10px;
		right: 10px;
	}
}

@media (max-width: 480px) {
	.item-info > span {
		display: block;
	}
	.blog-item .pull-right.item-image {
		margin: 0 0 18px 0;
	}
	.blog-item .pull-left.item-image {
		margin: 0 0 18px 0;
		float: none;
	}
}
@media (max-width: 768px) {
	body {
		padding-top: 0;
	}
	.clear-slider {
		top: 0;
	}
	.clear-slider .ext-item-html {
		display: none;
	}
	.header {
		background: transparent;
	}
	.header .brand {
		float: none;
		display: block;
		text-align: center;
	}
	.header-search {
		float: none;
		display: block;
	}
	.header-search form {
		margin: 0;
	}
	.header-search .search-query {
		width: 90%;
	}
	.header .nav-pills > li > a {
		border: 1px solid #ddd;
		border-bottom: 0;
		margin: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		margin-right: 0;
	}
	.header .nav-pills > li:first-child > a {
		-webkit-border-radius: 4px 4px 0 0;
		-moz-border-radius: 4px 4px 0 0;
		border-radius: 4px 4px 0 0;
	}
	.header .nav-pills > li:last-child > a {
		-webkit-border-radius: 0 0 4px 4px;
		-moz-border-radius: 0 0 4px 4px;
		border-radius: 0 0 4px 4px;
		border-bottom: 1px solid #ddd;
	}
	.modal.fade {
		top: -100%;
	}
	.nav-tabs {
		border-bottom: 0;
	}
	.nav-tabs > li {
		float: none;
	}
	.nav-tabs > li > a {
		border: 1px solid #ddd;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		margin-right: 0;
	}
	.nav-tabs > li:first-child > a {
		-webkit-border-radius: 4px 4px 0 0;
		-moz-border-radius: 4px 4px 0 0;
		border-radius: 4px 4px 0 0;
	}
	.nav-tabs > li:last-child > a,
	.nav-tabs > .active:last-child > a {
		-webkit-border-radius: 0 0 4px 4px;
		-moz-border-radius: 0 0 4px 4px;
		border-radius: 0 0 4px 4px;
		border-bottom: 1px solid #ddd;
	}
	.nav-tabs > li > a:hover {
		border-color: #ddd;
		z-index: 2;
	}
	.nav-tabs.nav-dark > li > a {
		border: 1px solid #333;
	}
	.nav-tabs > li:last-child > a,
	.nav-tabs > .active:last-child > a {
		border-bottom: 1px solid #333;
	}
	.nav-tabs.nav-dark > li > a:hover {
		border-color: #333;
	}
	.nav-pills > li {
		float: none;
	}
	.nav-pills > li > a {
		margin-right: 0;
	}
	.nav-pills > li > a {
		margin-bottom: 3px;
	}
	.nav-pills  > li:last-child > a {
		margin-bottom: 1px;
	}
	.form-search > .pull-left,
	.form-search > .pull-right {
		float: none;
		display: block;
		margin-bottom: 9px;
	}
}
@media (max-width: 980px) {
	.navbar-fixed-top {
		margin-bottom: 0 !important;
	}
	.item-comment .item-image {
		display: none;
	}
	.well {
		padding: 10px;
	}
	.header-right {
		width: 100%;
		float: left;
		text-align: left;
	}
	.header-right .clear-map {
		width: 100%;
	}
	.header-right .clear-phone {
		text-align: left !important;
		width: 100%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	#login-form .input-small {
		width: 62px;
	}
}*/